body {
    font-family: arial, sans-serif;
}

/* For text you want to display smaller.
   Currently used by 'Forgot username/password' link */
.small {
    font-size: 0.8em;
}

/* For error messages to user.
   Currently used by 'Incorrect username/password' error message */
.error {
    color: red;
}